* {
    margin: 0;
    /* outline: 1px solid red; */
}

body {
    box-sizing: border-box;
}

.project-header {
    color: #98a6ad;
    text-align: left;
    font-family: 'Karla', sans-serif;
    margin-bottom: 25px;
    font-size: 45px;
    margin-top: 10px;
    margin-left: 25%;
}

.carousel {
    width: 50%;
    height: 400px;
    background-color: #272935;
    margin-bottom: 50px;
}

.carouselInner {
    height: 100%;
    width: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 86%;
    display: flex;
}

.carouselInner .left {
    flex: 5%;
    height: 100%;
    background-color: #272935;
    display: grid;
    place-items: center;
}

.carouselInner .right {
    flex: 5%;
    height: 100%;
    background-color: #272935;
    display: grid;
    place-items: center;
}

.carouselInner .center {
    flex: 90%;
    height: 100%;
}

.back-arrow {
    width: 50px;
    height: 50px;
    background-image: url("./backArrow.png");
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(33%) sepia(49%) saturate(378%) hue-rotate(330deg) brightness(90%) contrast(82%);
    cursor: pointer;
}

.forward-arrow {
    width: 50px;
    height: 50px;
    background-image: url("./forwardArrow.png");
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(33%) sepia(49%) saturate(378%) hue-rotate(330deg) brightness(90%) contrast(82%);
    cursor: pointer;
}

.project-details {
    display: flex;
    position: relative;
    left: 100%;
    bottom: 125%;
    margin-left: 120px;
    color: #f8f8f2;
    font-family: 'Karla', sans-serif;
    gap: 15px;
}

.project-title {
    color: #795548;
    font-size: 50px;
}

.project-details > h2 {
    font-size: 15px;
    color: #f8f8f2;
    width: 65%;
} 

.project-details > h3 {
    margin-top: 25px;
    color: #98a6ad;
}

.github-btn-container {
    border: 1px solid #795548;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 10%;
    }

.github-logo {
    background-image: url("./16-github.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 50px;
    filter: invert(33%) sepia(49%) saturate(378%) hue-rotate(330deg) brightness(90%) contrast(82%);

}

.code-btn {
    width: 50px;
    /* margin-top: 10px; */
    background-color: #272935;
    color: #795548;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    line-height: 1;
    font-size: 10px;
    /* border: 1px solid  #795548; */
}

@media only screen and (max-width: 1400px) {

    .project-title {
        font-size: 30px;
    }

    .project-details > h2 {
        font-size: 12px;
    }

    .github-btn-container {
        width: 14%;
    }

    .project-details {
        bottom: 100%;
    }
}

@media only screen and (max-width: 1275px) {
    .carousel {
        width: 48%;
        height: 100px;
        margin-left: 20px;
    }

    .project-title {
        font-size: 25px;
    }

    .project-details {
        left: 104%;
        bottom: 204%;
    }

    .project-details > h2 {
        font-size: 17px;
        width: 92%;
    }
    
    .project-details > h3 {
        margin-top: 3px;
        font-size: 19px;
        width: 31%;
    }

    .project-carousel-container {
        height: 320px;
        padding-left: 0px;
        padding-bottom: 0px;
        justify-content: flex-start;
    }

    .project-header {
        margin-bottom: 3px;
        font-size: 26px;
        margin-top: 35px;
        margin-left: 41%;
    }

    .carouselInner {
        height: 100%;
        width: 100%;
        margin-top: 10px;
        margin-left: 8px;
    }

    .back-arrow {
        background-image: url("./leftarrowsmall.png");
        width: 20px;
    }

    .forward-arrow {
        background-image: url("./forwardarrowsmall.png");
        width: 20px;
    }

    .github-btn-container {
        width: 22%;
        right: 111%;
        position: relative;
    }

    .code-btn {
        font-size: 7px;
    }

}

@media only screen and (max-width: 1000px) {

    .carousel {
        width: 48%;
        height: 250px;
        margin-left: 20px;
    }

    .project-title {
        font-size: 25px;
    }

    .project-details {
        left: 90%;
        bottom: 134%;
    }

    .project-details > h2 {
        font-size: 12px;
        width: 92%;
    }
    
    .project-details > h3 {
        margin-top: 3px;
        font-size: 8px;
        width: 31%;
    }

    .project-carousel-container {
        height: 400px;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .project-header {
        margin-bottom: 3px;
        font-size: 26px;
    }

    .carouselInner {
        height: 100%;
        width: 100%;
        margin-top: 10px;
        margin-left: 8px;
    }

    .back-arrow {
        background-image: url("./leftarrowsmall.png");
        width: 20px;
    }

    .forward-arrow {
        background-image: url("./forwardarrowsmall.png");
        width: 20px;
    }

    .github-btn-container {
        width: 22%;
        right: 104%;
        position: relative;
        margin-top: 85px;
    }

    .code-btn {
        font-size: 7px;
    }

}

@media only screen and (max-width: 800px) {

    .carousel {
        width: 48%;
        height: 100px;
    }

    .project-title {
        font-size: 21px;
    }

    .project-details {
        left: 104%;
        bottom: 98%;
    }

    .project-details > h2 {
        font-size: 12px;
        width: 108%;
    }
    
    .project-details > h3 {
        margin-top: 3px;
        font-size: 8px;
        width: 31%;
    }

    .project-carousel-container {
        height: 260px;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .project-header {
        margin-bottom: 3px;
        font-size: 26px;
    }

    .carouselInner {
        height: 68%;
        width: 100%;
        margin-top: 10px;
        margin-left: 8px;
    }

    .back-arrow {
        background-image: url("./leftarrowsmall.png");
        width: 20px;
    }

    .forward-arrow {
        background-image: url("./forwardarrowsmall.png");
        width: 20px;
    }

    .github-btn-container {
        width: 27%;
        right: 108%;
        position: relative;
    }

    .code-btn {
        font-size: 7px;
    }

}

@media only screen and (max-width: 730px) {

    .project-details {
        bottom: 235%;
        left: 84%;
    }

    .project-header {
        margin-left: 35%;
    }

    .carouselInner {
        height: 150%;
    }

    .project-carousel-container {
        height: 285px;
    }

}

@media only screen and (max-width: 500px) {

    .carousel {
        width: 48%;
        height: 100px;
    }

    .project-title {
        font-size: 18px;
    }

    .project-details {
        left: 67%;
        bottom: 220%;
    }

    .project-details > h2 {
        font-size: 10px;
        width: 108%;
    }
    
    .project-details > h3 {
        margin-top: 3px;
        font-size: 8px;
        width: 31%;
    }

    .project-carousel-container {
        height: 210px;
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .project-header {
        margin-bottom: 3px;
        margin-top: 19px;
    }

    .carouselInner {
        height: 100%;
        width: 100%;
        margin-top: 10px;
        margin-left: 8px;
    }

    .back-arrow {
        background-image: url("./leftarrowsmall.png");
        width: 20px;
    }

    .forward-arrow {
        background-image: url("./forwardarrowsmall.png");
        width: 20px;
    }

    .github-btn-container {
        width: 48%;
        right: 115%;
        position: relative;
    }

    .code-btn {
        font-size: 7px;
    }


@media only screen and (max-width: 450px) {

    .project-details > h2 {
        font-size: 7px;
        width: 94%;
    }

    .github-btn-container {
        right: 122%;
        width: 56%;
    }

    .project-title {
        font-size: 15px;
    }

    .carousel {
        height: 89px;
    }

    .project-details {
        left: 65%;
    }

    .carouselInner {
        margin-left: 0px;
    }

    .project-header {
        margin-left: 26%;
    }


}
}
    @media only screen and (max-width: 375px) {

        .project-details > h2 {
            font-size: 7px;
            width: 94%;
        }
    
        .github-btn-container {
            right: 122%;
            width: 56%;
        }
    
        .project-title {
            font-size: 15px;
        }
    
        .carousel {
            height: 89px;
        }
    
        .project-details {
            left: 54%;
        }
    
        .carouselInner {
            margin-left: 0px;
        }

        .project-carousel-container {
            height: 226px;
        }
    
    }
    
