.form {
    border: 2px solid black;
    border-radius: 7px;
    height: 325px;
    width: auto;
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 25px 25px 100px 50px;
    padding: 25px;
    gap: 25px;
}

.aboutYourself {
    grid-column: 1/-1;
}

.submit--btn {
    grid-column: 1/-1;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 7px;
}

.badge--container {
    border: 2px solid grey;
    border-radius: 7px;
    height: 325px;
    width: auto;
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25px 25px 25px 25px 50px;
    gap: 25px;
}

.badge--header {
    background-color: grey;
    color: white;
    grid-column: 1/-1;
    border: 2px solid grey;
    border-radius: 4px;
    padding-left: 10px;
}

.badge--item {
    margin: 0px 25px 25px 25px;
}

.badge--aboutYourself {
    grid-column: 1/-1;
    height: 90px;
    border: 1px solid black;
    margin: 0px 25px 20px 25px;
    padding: 10px;
}