* {
    margin: 0;
    /* outline: 1px solid red; */
}

body {
    box-sizing: border-box;
}

.title-container {
    float: left;
}

.detail-title {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Lora', serif;
    color: rgb(6, 51, 6);
    margin-bottom: 25px;
}

.detail-img {
    width: 90%;
    height: auto;
    margin-left: 30px;
    border-radius: 10px;
    border: 4px solid rgb(6, 51, 6);
}

.details-container {
    display: flex;
    flex-direction: column;
    gap : 25px;
    margin-top: 150px;
}

.detail {
    font-family: 'Lora', serif;
    font-size: 25px;
    width: 50%;
    font-weight: 200;
    border-bottom: 2px solid rgb(6, 51, 6);
    padding-bottom: 10px;
}
