* {
    box-sizing: border-box;
    font-size: 0px;
}


body {
    padding: 0;
    margin: 0;
}

.first-line {
    background-color: #F5C6D6;
    width: 100%;
    height: 100px;
    border: solid white 10px;
    
}

.pink-box {
    background-color: #EE2E84;
    height: 100px;
    border: solid white 10px;
    width: 25%;
    display: inline-block;
  }

.blue-box {
    background-color: #85CFD8;
    display: inline-block;
    height: 100px;
    width: 50%;
    border: solid white 10px;
    
}

.green-box {
    background-color: #8DC63F;
    display: inline-block;
    height: 100px;
    width: 75%;
    border: solid white 10px;
   
}

.orange-box {
    background-color:#E76E34 ;
    display: inline-block;
    height: 100px;
    width:25%;
    border: solid white 10px;
    
}

/* 768px screens */

@media only screen and (max-width: 768px) {

.first-line {
    width: 100%;
}

.pink-box {
    width: 100%;
}

.blue-box {
    width: 100%;
}

.green-box {
    width: 100%;
}

.orange-box {
    width: 100%;
}
}