* {
    margin: 0;
}

body {
    box-sizing: border-box;
    
}

@media only screen and (max-width: 1480px) {

    .auth-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        position: relative;
        right: 28%;
        bottom: 250px;
    }
    
    .auth-input {
        width: 300px;
        height: 30px;
    }
    
    .auth-btn {
        width: 100px;
        height: 28px;
    }

    .auth-input {
        height: 23px;
    
    
    }


}

@media only screen and (max-width: 1280px) {

    .auth-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        position: relative;
        right: 28%;
        bottom: 205px;
    }
    
    .auth-input {
        width: 300px;
        height: 30px;
    }
    
    .auth-btn {
        width: 100px;
        height: 28px;
    }

    .auth-input {
        height: 23px;
    
    
    }


}

@media only screen and (max-width: 1050px) {

    .auth-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        position: relative;
        right: 27%;
        bottom: 165px;
    }
    
    .auth-input {
        width: 300px;
        height: 30px;
    }
    
    .auth-btn {
        width: 100px;
        height: 28px;
    }

    .auth-input {
        height: 23px;
    
    
    }


}




@media only screen and (max-width: 820px) {

    .auth-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
        bottom: 14px;
        right: 0%;
    }
    
    .auth-input {
        width: 300px;
        height: 30px;
    }
    
    .auth-btn {
        width: 100px;
        height: 28px;
    }

    .auth-input {
        height: 23px;
    
    
    }

}

@media only screen and (max-width: 420px) {

    .auth-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 20px;
    }
    
    .auth-input {
        width: 200px;
        height: 15px;
    }
    
    .auth-btn {
        width: 100px;
        height: 25px;
    }
    
    
    }