* {
    margin : 0;
    /* outline: 1px solid red; */
}

.meal-wrapper {
    border: 3px solid white;
    border-radius: 9px;
    margin-top: 25px;
    width: 350px;
    margin-left: 25px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    background-color: white;
    color: rgba(4,189,228,1); 
    height: 50px;
    margin-top: -1px;
    width: 101%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.meal-category  {
    background-color: white;
    color: rgba(4,189,228,1); 
    padding-left: 15px;
    font-size: 46px;
}

.meal-calories {
    font-weight: 800;
    font-size: 18px;
    margin-left: 10px;
}

.meal-label {
    margin-left: 20px;
    margin-top: 15px;
}

.meal-date {
    font-weight: 800;
    margin-left: 25px;
}

.description-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.meal-img {
    width: 100px;
    height: 100px;
    border: .5px solid white;
    border-radius: 12px;
    margin-right: 20px;
}

.meal-title {
    font-size: 22px;
    margin-top : 10px;
    border-top: 1px solid white;
    width: 80%;
    padding-top:10px;
}

.meal-description {
    font-size: 18px;
    width: 80%;
    margin-top: 10px;
}

.button {
    margin-top: 20px;
    margin-right: 5px;
    position: relative;
    left: 55px;
    border-radius: 7px;

}

@media only screen and (max-width: 800px) {

    .meal-wrapper {
        width: 300px;
    }

    .meal-category {
        font-size: 26px;
    }

    .meal-calories {
        width: 75px;
    }

    .meal-date {
        margin-left: 1px;
    }

}

@media only screen and (max-width: 585px) {

    .meal-wrapper {
        width: 225px;
    }

    .meal-img {
        width: 75px;
        height: 75px;
    }

    .meal-calories {
        font-size: 12px;
        width: 57px;
    }

    .meal-date {
        font-size: 12px;
        margin-left: 1px;
    }

    .meal-category {
        font-size: 22px;
    }

    .meal-description {
        font-size: 14px;
    }

}
