* {
    margin: 0;
}

body {
    box-sizing: border-box;
}

.navbar {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-left: 25px;
    border-bottom: 1px solid white;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}

.nav-title {
    font-size: 26px;
}

.logout-btn {
    margin-right: 25px;
    cursor: pointer;
}

.logo {
    display: inline;
    height: auto;
    width: 50px;
}

@media only screen and (max-width: 555px) {
    
    .nav-link {
        font-size: 12px;
    }

    .nav-title {
        font-size: 17px;
    }

    .logo {
        width: 35px;
    }

    .logout-btn {
        font-size: 12px;
    }

}

@media only screen and (max-width: 410px) {

    .nav-link {
        font-size: 10px;
    }

    .nav-title {
        font-size: 12px;
    }

    .logout-btn {
        font-size: 10px;
    }

}
